{{! 

    resources.mustache - fixed resources

+++start+++

## <a id="resources.mustache"></a>resources.mustache <a class='navigator' href='#top'">[top]</a>

Create an EC2 with following fixed parameters

* `ImageId` : "ami-00dae61d",
* `InstanceType` : "t2.micro"

+++close+++


}}

{{! +++fold-on+++ }}

    "MyEC2Instance" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "ami-00dae61d",
        "InstanceType" : "t2.micro"
      }
    }


{{! +++fold-off+++ }}
