{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "{{description}}",
  "Resources" : {
    "MyEC2Instance" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "ami-00dae61d",
        "InstanceType" : "t2.micro"
      }
    }
  }
}
