{{!


==================================================================
STYLE section
==================================================================

++start++
<style>
h1 {
    color:blue; 
    font-size: 2.5em;
   }
h2 {
      color:blue;
      font-size: 1.5em;
   }
body {
    background-color: #b0c4de;
} 
</style>
++close++
}}

{{!
++start++

# <a id="top">aws-must demo 2 template</a>

Create an EC2 with following fixed parnameters `ImageId`
("ami-00dae61d") and `InstanceType` ("t2.micro")

> resources

++close++
}}

{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "{{description}}",
  "Resources" : {
    {{> resources }}
  }
}
