{{!

+++start+++

<style>
h1 {color:blue;}
body {
    background-color: #b0c4de;
} 
</style>



# root.mustache

Create an EC2 with following fixed parameters

* `ImageId` : "ami-00dae61d",
* `InstanceType` : "t2.micro"

**Attributes**:

* `description`: description for the CF template


+++close+++

}}

{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "{{description}}",
  "Resources" : {
    "MyEC2Instance" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "ami-00dae61d",
        "InstanceType" : "t2.micro"
      }
    }
  }
}
