{{! 

    resources.mustache - fixed resources

+++start+++

## resources.mustache

Create an EC2 with following fixed parameters

* `ImageId` : "ami-00dae61d",
* `InstanceType` : "t2.micro"

+++close+++


}}


    "MyEC2Instance" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "ami-00dae61d",
        "InstanceType" : "t2.micro"
      }
    }