{{!


++start++

## <a id="resourceInstance.mustache"></a>resourceInstance.mustache <a class='navigator' href='#top'">[top]</a>

Create an EC2 instance

**Attributes**: context=  `./resources/Instance`

* `Name`: name of the EC2 instance to create
* `ImageId`: AIM id to create

**Actions**:

* **Name**:  `Name`
* **Type**: 'AWS::EC2::Instance'
* **ImageId**: `ImageId`

++close++

}}


    "{{Name}}" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "{{ImageId}}",
        "InstanceType" : "{{InstanceType}}"
      }
    }{{_comma}}
