{{! 

+++start+++

## resources.mustache

Nothing created here

+++close+++


}}
{{! 

    Fixed resource 'MyEC2Instance' not used anymore.
    Use YAML resource configuration instead! 

    "MyEC2Instance" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "ami-00dae61d",
        "InstanceType" : "t2.micro"
      }
    }

}}

{{! +++fold-on+++ }}

    {{# resources }}{{> resource }}{{/ resources }}

{{! +++fold-off+++ }}
