{{!

     root.mustache: root level template, 

==================================================================
STYLE section
==================================================================

+++start+++

<style>
h1 {
    color:blue; 
    font-size: 2.5em;
   }
h2 {
      color:blue;
      font-size: 1.5em;
   }
h3 {
      color:blue;
      font-size: 1.5em;
   }
body {
    background-color: #b0c4de;
} 
/* Support fold-on/fold-off toggle */
div.fold { 
    width: 90%; padding: .42rem; border-radius: 5px;  margin: 1rem; 

}
div.fold div { 
       height: 0px; margin: .2rem; overflow: hidden; 
}
div.toggle ~ div { height: 0px; margin: .2rem; overflow: hidden; }
input.toggle:checked ~ div { 
     height: auto;      
     color: white; 
     background: #c6a24b;
     font-family: monospace;
     white-space: pre; 
}
</style>

+++close+++


==================================================================
CONTENT section
==================================================================

+++start+++

# <a id="top">aws-must demo 3 template</a>

Creates a EC2 instances using YAML configuration defining `ImageId`
(e.g. ami-00dae61d) and `InstanceType` (e.g. t2.micro).


Supports only region `eu-central-1`. No ssh connection allowed by
default.

**Parameters**:

* `InstanceType`: EC2 resource instance type, (default: t2.micro)


## Document Content

This document is generated automically from `aws-must` -demo
templates. 


Output contains markdown syntax between
**&plus;&plus;start&plus;&plus;** and
**&plus;&plus;close&plus;&plus;** -tags from the template files. For
each template, it

* gives a general description of the template

* documents the attribute context e.g. `.` or `./resources/Instance`,
  and attributes references of the template

* checkbox to show template implementation

## <a id="root.mustache"></a>root.mustache <a class='navigator' href='#top'">[top]</a>


Root template 

**Attributes**: context= `.`

* `description`: description for the CF template

+++close+++

}}

{{! +++fold-on+++ }}

{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "{{description}}",
  "Resources" : {
    {{> resources }}
  }
}

{{! +++fold-off+++ }}


{{! 

==================================================================
INCLUDED templates
==================================================================

+++start+++

> resources
> resource
> resourceInstance

+++close+++

}}
