{{!
+++start+++

# <a id="top">aws-must demo 1 templates</a>

**No documentation yet**

+++close+++
}}
{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "A simple Amazon EC2 instance. Initial copy",
  "Resources" : {
    "MyEC2Instance" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "ami-00dae61d",
        "InstanceType" : "t2.micro"
      }
    }
  }
}
