{{!
+++start+++

# <a id="top">aws-must demo 1 template</a>

Create a `t2.micro` EC2 instance for AMI `ami-00dae61d`.  Supports
only region `eu-central-1`. No ssh connection allowed by default.

+++close+++
}}


{
  "AWSTemplateFormatVersion" : "2010-09-09",
  "Description" : "A simple Amazon EC2 instance. Initial copy",
  "Resources" : {
    "MyEC2Instance" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "ami-00dae61d",
        "InstanceType" : "t2.micro"
      }
    }
  }
}

