{{!

    resource.mustache

+++start+++

## resource.mustache

Dispatches resource sub-type templates based resource Type propertys

**Included resources**

* `resourceInstance`

> resourceInstance

+++close+++



}}

{{# Instance }}{{> resourceInstance}}{{/ Instance }}
