{{!

    resource.mustache

++start++

## <a id="resource.mustache"></a>resource.mustache <a class='navigator' href='#top'">[top]</a>


Dispatches resource sub-type templates based resource Type propertys

**Attributes**: context=  `./resources`

* `Instance`: sub-document defining an EC instance
* `SecurityGroup`: sub-document defining an <a href="http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group.html">AWS::EC2::SecurityGroup</a>


**Actions**:

* **include** <a href="#resourceInstance.mustache">resourceInstance.mustache</a> **if** `Instance` 
* **include** <a href="#resourceSecurityGroup.mustache">resourceSecurityGroup.mustache</a> **if** `SecurityGroup` 


**Included resources**

* `resourceInstance`

> resourceInstance
> resourceSecurityGroup.mustache

++close++



}}

{{# Instance }}{{> resourceInstance}}{{/ Instance }}
{{# InstanceSecurityGroup }}{{> resourceSecurityGroup}}{{/ InstanceSecurityGroup }}
