{{!


++start++

## output.mustache

Create one output entry to output section

**Attributes**

* `Name` : of the ouput entry
* `Description`: of the output entry
*  Continually one
   * `Ref`
      * `Ref`: 
   * `Attr`
      * `Ref`: 
      * `Name`: name of the attribute



++close++

}}


    "{{Name}}": {
      "Description" : "{{Description}}"
      {{#Ref}}, "Value" : { "Ref" : "{{Ref}}" }{{/Ref}}
      {{#Attr}}, "Value" : { "Fn::GetAtt" : [ "{{Ref}}", "{{Name}}" ] }{{/Attr}}
    }{{_comma}}

