{{!


+++start+++


## <a id="resourceInstance.mustache"></a>resourceInstance.mustache <a class='navigator' href='#top'">[top]</a>

Create an EC2 instance

**Attributes**: context=  `./resources/Instance`

* `Name`: name of the EC2 instance to create
* `InstanceType` : The instance type, such as t2.micro. 


+++close+++

}}

{{! +++fold-on+++ }}


    "{{Name}}" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : { "Fn::FindInMap" : [ "AWSRegionArch2AMI", { "Ref" : "AWS::Region" },
	 	    { "Fn::FindInMap" : [ "AWSInstanceType2Arch", "{{InstanceType}}", "Arch" ] } ] },
        "InstanceType" : "{{InstanceType}}"
      } {{! Propertites }}
    }{{_comma}}

{{! +++fold-off+++ }}
