    "{{Name}}" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "{{ImageId}}",
        "InstanceType" : "{{InstanceType}}"
      } {{! Propertites }}
    }{{_comma}}