{{! 

+++start+++

## <a id="resources.mustache"></a>resources.mustache <a class='navigator' href='#top'">[top]</a>

Empty template.

**Attributes**: context=  `.`

* none


**Actions**:

* no action (i.e. template commented out)

+++close+++

}}

{{! +++fold-on+++ }}

{{! 

    Moved to YAML

    "MyEC2Instance" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : "ami-00dae61d",
        "InstanceType" : "t2.micro"
      }
    }

}}

{{! +++fold-off+++ }}
