{{!

     root.mustache: root level template, 

==================================================================
STYLE section
==================================================================

+++start+++

<style>
h1 {
    color:blue; 
    font-size: 2.5em;
   }
h2 {
      color:blue;
      font-size: 1.5em;
   }
h3 {
      color:blue;
      font-size: 1.5em;
   }
body {
    background-color: #b0c4de;
} 
</style>

+++close+++


==================================================================
CONTENT section
==================================================================

+++start+++

# root.mustache

Root template 

**included templates**

* `resources`
* `resource`
* `output`: for each element in YAML arrays `output` render template `output`

**Attributes**:

* `description`: description for the CF template

> resources
> resource
> output

+++close+++

}}

{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "{{description}}",



  "Resources" : {

    {{> resources }}
    {{# resources }}{{> resource }}{{/ resources }}

  },

  "Outputs" : {

    {{# outputs }}{{> output }}{{/ outputs }}

  }

}
