{{!

     root.mustache: root level template, 

==================================================================
STYLE section
==================================================================

++start++

<style>
h1 {
    color:blue; 
    font-size: 2.5em;
   }
h2 {
      color:blue;
      font-size: 1.5em;
   }
h3 {
      color:blue;
      font-size: 1.5em;
   }
body {
    background-color: #b0c4de;
} 
</style>

++close++


==================================================================
CONTENT section
==================================================================

++start++

# <a id="top">aws-must demo 5 template</a>

Creates EC2 instances using YAML configuration defining `ImageId`
(e.g. ami-00dae61d) and `InstanceType` (e.g. t2.micro).  Output
section contains references to InstanceId and PublicId of the newly
created EC2 instance.

Supports only region `eu-central-1`. No ssh connection allowed by
default.

**Parameters**:

* `InstanceType`: EC2 resource instance type, (default: t2.micro)




## Document Content

This document is generated automically from `aws-must` -demo
templates. 


Output contains markdown syntax between
**&plus;&plus;start&plus;&plus;** and
**&plus;&plus;close&plus;&plus;** -tags from the template files. For
each template, it

* gives a general description of the template

* documents the attribute context e.g. `.` or `./resources/Instance`,
  and attributes references of the template

* lists template actions, i.e.  output from template, or template
  inclusion


## <a id="root.mustache"></a>root.mustache <a class='navigator' href='#top'">[top]</a>

Starting point of template rendering.

**Attributes**: context= `.`

* `description`: description for the CF template

**Actions**:

* **Description**: `description`
* **include** <a href="#resources.mustache">resources.mustache</a>
* **for** `resource` **in** `resource` **include** <a href="#resource.mustache">resource.mustache</a>
* **for** `output` **in** `outputs` **include** <a href="#output.mustache">output.mustache</a>


> resources
> resource
> output

++close++

}}

{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "{{description}}",

  "Resources" : {

    {{> resources }}
    {{# resources }}{{> resource }}{{/ resources }}

  },

  "Outputs" : {

    {{# outputs }}{{> output }}{{/ outputs }}

  }

}
