{{!


++start++


## <a id="resourceInstance.mustache"></a>resourceInstance.mustache <a class='navigator' href='#top'">[top]</a>

Create an EC2 instance

**Attributes**: context=  `./resources/Instance`

* `Name`: name of the EC2 instance to create
* `InstanceType` : The instance type, such as t2.micro. 
* `tags` : array of tag sub-documents for EC2 instance


**Actions**:

* **Name**:  `Name`
* **Type**: 'AWS::EC2::Instance'
* **for** `tag` **in** `tags` **include**  <a href="#tag.mustache">tag.mustache</a>
* **SecurityGroups.Ref**: `SecurityGroup` if `SecurityGroup`
* **ImageId**: **AWSRegionArch2AMI**( 'AWS::Region', **AWSInstanceType2Arch**(`InstanceType`))
* **KeyName**: `KeyName` if `KeyName`

> tag


++close++

}}


    "{{Name}}" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : { "Fn::FindInMap" : [ "AWSRegionArch2AMI", { "Ref" : "AWS::Region" },
	 	    { "Fn::FindInMap" : [ "AWSInstanceType2Arch", "{{InstanceType}}", "Arch" ] } ] }
        , "InstanceType" : "{{InstanceType}}"
        , "Tags" : [ {{#tags}}{{>tag}}{{/tags}} ]
        {{#SecurityGroup}}, "SecurityGroups" : [ { "Ref" : "{{SecurityGroup}}" } ]{{/SecurityGroup}}
        {{#KeyName}}, "KeyName" : { "Ref" : "{{KeyName}}" }{{/KeyName}}
      } 
    }{{_comma}}