{{!

    resource.mustache

++start++

## <a id="resource.mustache"></a>resource.mustache <a class='navigator' href='#top'">[top]</a>


Dispatches resource sub-type templates based resource Type propertys

**Attributes**: context=  `./resources`

* `Instance`: sub-document defining an EC instance


**Actions**:

* include <a href="#resourceInstance.mustache">resourceInstance.mustache</a> if `Instance` 

> resourceInstance

++close++



}}

{{# Instance }}{{> resourceInstance}}{{/ Instance }}
