{{!


+++start+++

### resourceInstance.mustache

Create an EC2 instance

**Attributes**:

* `Name`: name of the EC2 instance to create
* `ImageId` : Provides the unique ID of the Amazon Machine Image (AMI)
   that was assigned during registration.
* `InstanceType` : The instance type, such as t2.micro. 

+++close+++

}}


    "{{Name}}" : {
      "Type" : "AWS::EC2::Instance",
      "Properties" : {
        "ImageId" : { "Fn::FindInMap" : [ "AWSRegionArch2AMI", { "Ref" : "AWS::Region" },
	 	    { "Fn::FindInMap" : [ "AWSInstanceType2Arch", "{{InstanceType}}", "Arch" ] } ] },
        "InstanceType" : "{{InstanceType}}"
      } {{! Propertites }}
    }{{_comma}}