{{!

    resource.mustache

+++start+++

## <a id="resource.mustache"></a>resource.mustache <a class='navigator' href='#top'>[top]</a>


Dispatches resource sub-type templates based resource Type propertys

**Attributes**: context=  `./resources`

* `Instance`: sub-document defining an EC instance
* `SecurityGroup`: sub-document defining an <a href="http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-security-group.html">AWS::EC2::SecurityGroup</a>


+++close+++


}}

{{! +++fold-on+++ }}

{{# Instance }}{{> resourceInstance}}{{/ Instance }}
{{# InstanceSecurityGroup }}{{> resourceSecurityGroup}}{{/ InstanceSecurityGroup }}

{{! +++fold-off+++ }}
