{{! This is default template root.mustache 

+++start+++

Text between start/close tags is outputted verbatim to standard output.

+++close+++

}}

{{! +++fold-on+++ }}

Text between fold-on/fold-off tags is surrounded by string set by
options 'fold_on' and 'fold_off'.

Create your own template in file `mustache/root.mustache`

{{! +++fold-off+++ }}
