{{! This is default template root.mustache 

+++start+++

Text between start/close tags is outputted verbatim to standard output.

+++close+++

}}


Create your own template in file `mustache/root.mustache`

